@use '../mixins.scss' as *;
@use '../variables.scss' as *;



.excel-titl{
    margin-top: 40px;
}
.excel-info{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}
.block-excel{
    max-width: 800px;
    height: auto;
    margin-top: 40px;
    text-align: center;
    padding: 40px 20px;
    border: 2px solid #E0E0E0;
    border-bottom: none;
    border-radius: 8px;
    p{
        font-size: 60px;
        color: #368C45;
        margin-top: 20px;
    }
}

.btn-enroll{
    @include btn-style;
    padding: 12px 36px;
    margin-top: 30px;
    font-size: 20px;
    &:hover {
      @include btn-hov-style;
    }
    &:active {
      @include btn-acv-style;
    }
}

.discount{
    position: absolute;
    color: #b8bbc0;
    font-size: 22px;
    font-weight: bold;
    z-index: -1;
    margin-left: 150px;
    margin-top: 70px;
}