.excel-titl{
    margin-top: 40px;
}
.excel-info{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}
.block-excel{
    max-width: 800px;
    height: auto;
    margin-top: 40px;
    text-align: center;
    padding: 40px 20px;
    border: 2px solid #E0E0E0;
    border-bottom: none;
    border-radius: 8px;
    p{
        font-size: 60px;
        color: #368C45;
        margin-top: 20px;
    }
}

