@use '../mixins.scss' as *;
@use '../variables.scss' as *;


//INFO


.container-info {
  display: flex;
  justify-content: center;

  margin-left: -300px;
  margin-top: 100px;

}

.info-text-1 {
  font-size: 60px;
  font-weight: bold;
}

.info-text-2 {
  font-size: 25px;
}

.info-text-3 {
  font-size: 25px;
}

.info-btn {
  @include btn-style;
  padding: 10px 32px;
  &:hover {
    @include btn-hov-style;
  }
  &:active {
    @include btn-acv-style;
  }
}

.photo {
  position: relative;
  left: 150px;
}

//FOR WHO

.container-for-who {
  margin-top: 90px;
}

.p-for-who {
  @include content-center;

  font-size: 2em;
  font-weight: 500;

  margin-top: 10px;
}

.list-for-who {
  list-style: none;

  @include content-center;

  margin-top: 40px;
  padding: 0;
}

.for-who-item {
  background-color: $sec-bg;

  border-radius: 10px;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.desc-for-who {
 @include content-center;

  margin: 0 30px 30px;
}