@use '../mixins.scss' as *;

.container-info {
  display: flex;

  margin-left: 100px;
  margin-top: 100px;
}

.info-text-1 {
  font-size: 60px;
  font-weight: bold;
}

.info-text-2 {
  font-size: 20px;
}

.info-text-3 {
  font-size: 20px;
}

.info-btn {
  @include btn-style;
  &:hover {
    @include btn-hov-style;
  }
  &:active {
    @include btn-acv-style;
  }
}