<header class="main-header">
    <div class="header-position">
        <img src="./img/logoarsen.png" alt="logo" class="logo">

        <nav>
            <ul class="nav-links">
                 <li><a class="travel" href="#">Головна</a></li>
                 <li><a class="travel" href="#">Курси</a></li>
                 <li><a class="travel" href="#">Про нас</a></li>
                 <li><button class="sign-in">Увійти</button></li>
                <li><button class="sign-up">Зареєструватись</button></li>
            </ul>

        </nav>
    </div>
</header>