<section class="">
  <div class="container-info">
    <div class="info">
      <p class="info-text-1">Excel для аналітики <br> з нуля</p>
      <p class="info-text-2">Практичний онлайн-курс <b> від AM Academy </b></p>
      <p class="info-text-3">Навчайся у своєму темпі та отримуй <br> реальні навички</p>
      <button type="button" class="info-btn">Почати навчання</button>
    </div>
    <div class="photo">
      <img
        src="../../img/pc.png"
        alt="pc"
      ></div>
  </div>
  <div></div>
</section>