<section>
  <div class="container-info">
    <div class="info">
      <p class="info-text-1">Excel для аналітики <br> з нуля</p>
      <p class="info-text-2">Практичний онлайн-курс <b> від AM Academy </b></p>
      <p class="info-text-3">Навчайся у своєму темпі та отримуй <br> реальні навички</p>
      <button type="button" class="info-btn">Почати навчання</button>
    </div>
    <div class="photo">
      <img
        src="../../img/pc.png"
        alt="pc"
        width="800px"
        height="450px"
      ></div>
  </div>
  <div class="container-for-who">
    <p class="p-for-who">Для кого цей курс?</p>
    <ul class="list-for-who">
      <li class="for-who-item">
        <i></i>
        <p class="p-for-who">Студенти</p>
        <p class="desc-for-who">Освойте практичний навик, <br> корисний для навчання
          <br> та стажування</p>
      </li>
      <li class="for-who-item">
        <i></i>
        <p class="p-for-who">Початківці</p>
        <p class="desc-for-who">Зробіть перший крок <br> до кар’єри в аналітиці даних</p>
      </li>
      <li class="for-who-item">
        <i></i>
        <p class="p-for-who">Майбутні аналітики</p>
        <p class="desc-for-who">Навчіться аналізувати дані <br> та створювати звіти самостійно</p>
      </li>
    </ul>
  </div>
</section>