<h2 class="titlewhy">Чому ти навчишся?</h2>
<section class="info-section">
    <div class="list-info">
        <div><i class="bi bi-check-lg check-icon"></i> Формули</div>
        <div>Аналіз данних</div>
        <div>Зведення таблиць</div>
        <div>Грфіки</div>
        <div>Практичний проект</div>
    </div>
    <div class="list-qution">
        <p class="modul"><strong>Модуль 1. </strong> Основи Excel</p>
        <p>1. Вступ Що таке Excel</p>
        <p>2. Інтерфейс Excel, основи роботи з електронними таблицями</p>
        <p>3. Типи данних та форматування</p>
    </div>
</section>





<h2 class="titlewhy">Програма курсу</h2>
<section class="coursr-programa">
    <div class="block-programa">
        <strong>Відеоуроки</strong>
        <p>Високоякісні лекції</p>
        <p>з практикою</p>
    </div>
    <div class="block-programa">
        <strong>Доступ 24/7</strong>
        <p>Проходь курс у зручний час</p>
    </div>
    <div class="block-programa"></div>
</section>